@import url(colors.css);


:root {
   --headerMargin: 10px;
}

html {
    scrollbar-color: var(--contentScrollBarThumb) var(--contentScrollBarTrack);
}

body {
    width: 100vw;
    /* height: 82.5vh; */

    overflow-x: hidden;

    background-color: var(--aboutMeMainBg);

    margin: 0;
    padding: 0;
}

/* text */
h1 {
    height: 10%;
    display: block;
    background-color: var(--pageHeaderBg);

    font-size: 5em;
    text-align: center;
    text-decoration: underline;

    box-sizing: border-box;
    box-shadow: 0 10px 2px -2px var(--headerShadow);
    padding: var(--headerMargin);
}

h1:hover {
    background-color: var(--pageHeaderHoverBg);
    color: var(--titleHover);    
}


h2 {
    width: 30%;

    background-color: var(--pageHeaderBg);

    font-size: 3em;
    box-sizing: border-box;

    margin: 5px;
    margin-top: 20px;
    margin-bottom: 10px;

    padding: 5px;
}

p {
    color: var(--text);
    font-size: 1.75em;
    margin: 5px;
    padding: 0;
}

p.left {
    float: left;
}

/* content */
.contentContainer{
    height: 100%;
    background-color: var(--aboutMeContentBg);

    box-sizing: border-box;
    
    margin: 10px;
    margin-top: 20px;

    padding: 10px;
}

.contactInfoContainer {
    justify-content: center;
    align-items: center;

    float: right;

    background-color: var(--profilePicBg);
    border: 2px solid var(--contentBorder);
    box-shadow: 5px 5px 5px var(--profilePicShadow);

    width: 25%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

.contactInfoContainer section{
    display: flex;
    width: 100%;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

a.contacts{
    display: block;

    width: 20%;

    border: 2px solid var(--contentBorder);
    background-color: var(--contactBg);

    box-shadow: 6px 5px 5px var(--profilePicShadow);
    margin: 10px;
}

/*
    imgs
*/
img.profilePic {
    display: block;
    width: 70%;

    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

a.contacts img{
    width: 100%;
}

