/* 
contains the colors of the site
*/

:root {

    --pageHeaderBg: #5C4D3C;
    --pageHeaderHoverBg: #815839;

    --mainScrollBarThumb: #CCC5B9 ;
    --mainScrollBarTrack: #403D39;

    --headerShadow: #252422;

    /* content nav colors */
    --contentMainBg: #1a1918;

    --contentDivider: #5C4D3C;

    --contentColorGrad1: #5C4D3C;
    --contentColorGrad2: #2c2825;

    --contentImgBg: #463f3a;

    --contentBg: #A68A64;
    --contentHoverBg: #B6AD90;

    --contentBorder: rgb(0, 0, 0);
    --contentBorderHover: rgb(126, 109, 109);
    --contentShadow: #252422;

    --contentScrollBarThumb: #d8dfca;
    --contentScrollBarTrack: #ac9e9b;

    /*
        about me colors
    */
    --aboutMeMainBg: rgb(109, 100, 100);
    --aboutMeContentBg: rgb(78, 72, 72);

    --profilePicBg: rgb(95, 89, 89);
    --profilePicShadow: #252422;

    --contactBg: rgb(136, 126, 126);
    --contactHoverBg: rgb(202, 183, 183);

    /* content */
    --contentTitleBorder: rgb(0, 0, 0);
    --contentBorder: #313130;

    /*
        text color
    */
    --text: #ccc5b9;
    --textHover: #fffcf2;

    --title: #ccc5b9;
    --titleHover: #F5F1ED;

    --dividerText: #ccc5b9;

    --contentHeader: #ccc5b9;
    --contentHeaderHover: #fffcf2;
}