/* 
contains the colors of the site
*/

:root {

    --pageHeaderBg: rgb(48, 47, 47);
    --pageHeaderHoverBg: rgb(105, 103, 103);

    --mainScrollBarThumb: #d8dfca;
    --mainScrollBarTrack: #ac9e9b;

    --headerShadow: rgb(22, 21, 21);

    /* content nav colors */
    --contentMainBg: rgb(19, 17, 17);

    --contentDivider: rgb(48, 47, 47);

    --contentColorGrad1: rgb(48, 47, 47);
    --contentColorGrad2: rgb(121, 121, 121);

    --contentImgBg: rgb(90, 74, 74);

    --contentBg: rgb(87, 31, 31);
    --contentHoverBg: rgb(153, 53, 53);

    --contentBorder: rgb(0, 0, 0);
    --contentBorderHover: rgb(126, 109, 109);
    --contentShadow: rgb(22, 21, 21);

    --contentScrollBarThumb: #d8dfca;
    --contentScrollBarTrack: #ac9e9b;

    /*
        about me colors
    */
    --aboutMeMainBg: rgb(109, 100, 100);
    --aboutMeContentBg: rgb(78, 72, 72);

    --profilePicBg: rgb(95, 89, 89);
    --profilePicShadow: rgb(24, 22, 22);
    --contactBg: rgb(199, 185, 185);

    /*
        text color
    */
    --text: #bebdbd;
    --textHover: #d8d8d8;
    
    --contentDividers: #dbd8d8;

    --title:#c4c4c4;
    --titleHover: #d8d8d8;

    --contentHeader: #a09e9e;
    --contentHeaderHover: #eebaba;
}