/* 
contains the colors of the site
*/

:root {
    --headerBg: #d0e4d9;

    --mainSectionBg: #afafaf;

    --headerShadow: #1c2733;
    --workShadow: #000000;

    /* buttons/site nav Tabs */

    --navButtonBg: #c1dad6;
    --navButtonHoverBg: #879ebd;
    --navButtonShadow: #000000;
    
    /* scroll bar */
    --scrollBarThumb: #6C757D;
    --scrollBarTrack: #ADB5BD;

    /* text color */

<<<<<<< Updated upstream
    --textColor: #F8F9FA;
    --titleText: #F8F9FA;
=======
    --textColor: #27230d;
    --textColor2: #ebf0f5;
    --textColor3: #b0b3b6;
>>>>>>> Stashed changes

    --textHoverColor: #badafa;
    --textColor: #27230d;
    --textColor2: #ebf0f5;
    --textColor3: #b0b3b6;
    --textColor: #F8F9FA;
    --titleText: #F8F9FA;
}