
html {
    scrollbar-color: var(--contentScrollBarThumb) var(--contentScrollBarTrack);
}

body {
    width: 100vw;
    height: 90vh;

    overflow-x: hidden;

    background-color: var(--aboutMeMainBg);

    margin: 0;
    padding: 0;
}

/* content */
.contentContainer {
    width: auto;
    height: 100%;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contentContainer iframe {
    width: 100%;
    height: 95%;
}