@import url(colors.css);
@import url(text_styles.css);

body {
    overflow: hidden;
    background-color: var(--mainSectionBg);
    margin: 0;
    padding: 0;

    scrollbar-color: var(--scrollBarThumb) var(--scrollBarTrack);

    width: 100vw;
    height: 100vh;

}

header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;

    background-color: var(--headerBg);
    box-shadow: 0 2px 10px black;

    /* width: auto; */
    height: auto;

    padding-top: 20px;
    padding-bottom: 20px;

    margin-bottom: 10px;
}

/* 
    site navigation style
*/

.mainNav {
    display: flex;
    justify-content: space-between;

    width: 50%;

    margin-top: 10px;
}

.mainNav a {

    background-color: var(--navButtonBg);
    box-shadow: 1px 2px 5px var(--navButtonShadow);

    padding: 20px;

}

.mainNav a:hover {
    background-color: var(--navButtonHoverBg);
}

.mainNav a:active {
    box-shadow: none;
}

.dorpDown {
    display: inline-block;
    position: relative;
    padding: 20px;

}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

/* 
    site content sections style
*/
.contentContainer {
    overflow-x: hidden;
    overflow-y: auto;

    width: auto;
    height: 70%;
    padding-top: 30px;
    padding-bottom: 30px;

    margin-left: 50px;
    margin-right: 50px;
}

.contentContainer iframe {
    width: 100%;
    height: 95%;

}

.aboutMeContainer {
    padding-left: 10px;
    padding-right: 10px;


}

.aboutMeContainer div {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    float: right;

    width: auto;
    height: auto;

    margin: 20px;
}

.aboutMeContainer div nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    width: auto;
    height: auto;

    margin: 20px;
}

.aboutMeContainer div img {

    width: 200px;
    height: 200px;

}

.aboutMeContainer h2 {

    margin: 20px;
}

.worksContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    place-content: center;
    width: auto;
    height: auto;
    transform: scale(.7);

    margin: 10px;
    padding-bottom: 10px;
}

.worksContainer img {
    box-shadow: 5px 10px 10px var(--workShadow);
    width: 85%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Targets images on the left side */
.worksContainer img:nth-child(4n+1):hover,
.worksContainer img:nth-child(4n+2):hover {
    transform: scale(1.5) translateY(50px) translateX(70px);
}

/* Targets images on the right side */
.worksContainer img:nth-child(4n+3):hover{
    transform: scale(1.5) translateY(50px) translateX(-70px);
}

/* Targets images in the last row */
.worksContainer img:nth-last-child(-n+3):hover {
    transform: scale(1.5) translateY(-50px);
}

/* Targets the bottom right image */
.worksContainer img:nth-last-child(1):hover {
    transform: scale(1.5) translateY(-50px) translateX(-70px);
}

.worksContainer img:nth-last-child(3):hover {
    transform: scale(1.5) translateY(-50px) translateX(70px);
}

/* featured work container */

.featuredWorkContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    place-items: center;
    width: auto;
    height: auto;

    margin: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.featuredWorkContainer img {
    box-shadow: 5px 10px 10px var(--workShadow);
    width: 90%;
    height: auto;

}
