@import url(colors.css);

a {
    text-decoration: none;
}

h1 {
    color: var(--title);

    font-size: 3em;
    font-weight: bold;

    margin: 0px;
    box-sizing: border-box;
}

h2 {
    color: var(--text);

    font-size: 2em;

    margin: 0px;
    box-sizing: border-box;
}

h3 {
    color: var(--text);

    font-size: 1.75em;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0px;
}

/*
    responsive design  
*/