/* 
contains the text of the site
*/

@import url(colors.css);

h1 {
    font-size: 3.5em;
    color: var(--titleText);
    /* text-shadow: 2px 2px 1px black; */

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    color: var(--textColor);

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;

    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5em;
    color: var(--textColor);

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.2em;
    color: var(--textColor);

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2em;
    color: var(--textColor);

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin: 0;
    padding: 0;
}

a {
    font-size: 1.5em;
    color: var(--textColor);
    text-decoration: none;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--textColor);
}

.paddedText {
    padding: 20px;
}

.centerText {
    display: block;
    text-align: center;
}

.shadowText {
    /* text-shadow: 4px 4px 10px rgb(0, 0, 0); */
}

.outlinedText {
    /* text-shadow: 1px 1px 2px rgb(0, 0, 0); */

}