/* 
contains the text of the site
*/

@import url(colors.css);

h1{
    font-size: 3.5em;
    color: var(--titleTex);
    margin: 0;
    padding: 0;
}

h2{
    font-size: 2em;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

h3{
    font-size: 1.5em;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

h4{
    font-size: 1.2em;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

p{
    font-size: 1em;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

a{
    font-size: 1.5em;
    color: var(--textColor);
    text-decoration: none;

    margin: 0;
    padding: 0;
}

a:hover{
    color: var(--textColor);
}

.paddedText{
    padding: 20px;
}

.centerText{
    display: block;
    text-align: center;
}

.outlinedText{
    text-shadow: 5px 5px 5px black;
}