.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.primary-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.primary-nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s;
}

.primary-nav ul li a:hover {
    color: white;
}

.active {
    color: white;
    text-decoration: underline;
}

.banner {
    background-image: url("../images/siteBanner.PNG");
    background-size: 100%;
    min-height: 100%;
}

.banner h1 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.footerBg {
    background-image: url("../images/siteBanner.PNG");
    background-size: 100%;
}

.footerBg h2 {
    color: rgb(0, 0, 0, 0)
}

.indexgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1f;
}

.indexgrid-child-1 {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    padding-top: 30px;
}

.indexgrid-child-2 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding-top: 30px;
}

.indexgrid-child-3 {
    grid-column: 1 /6;
    grid-row: 3
}

.indexgrid-child-4 {
    grid-column: 1 / 6;
    grid-row: 4;
}

.indexgrid-child-5 {
    grid-column: 1 / 6;
    grid-row: 7;
    padding-top: 20px;

}

.indexgrid-child-6 {
    grid-column: 1 /span 2;
    grid-row: 5 / 7;
}

.indexgrid-child-7 {
    grid-column: 4 / span 2;
    grid-row: 5 / 7;
}

.indexgrid-child-8 {
    grid-column: 3 / span 1;
    grid-row: 5 / 7;
}

.indexgrid-child-9 {
    grid-column: 6;
    grid-row: 6;
}

.indexgrid-child-10 {
    grid-column: 3 / 5;
    grid-row: 5;
}

body {
    margin: 0;
}

.imgrow-left {
    padding-left: 50px;
}

.imgrow-right {
    padding-right: 50px;
}

img {
    max-width: 100%;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;

}

footer {
    margin: 0px;
}

.footerGrid {
    display: flex;
    justify-content: space-around;
}

.footerGrid-child-1 {
    padding: 10px;
    font-family: 'Questrial', sans serif;
}

.footerGrid-child-2 {
    padding: 10px;
    font-family: 'Questrial', sans serif;
}

.footerGrid-child-3 {
    padding: 10px;
}

.footerGrid-child-4 {
    padding: 10px;
}

.footerGrid-child-5 {
    padding: 10px;
}

.footerGrid-child-6 {
    padding: 10px;
}

.footergrid-txtlinks {
    padding: 10px;
    text-decoration: none;
    color: rgb(58, 14, 70);
}

.footerGrid-txt {
    color: rgb(58, 14, 70)
}

.phototxt {
    font-family: 'Caveat', cursive;
}

.imgpagegrid div p {
    font-family: 'Caveat', sans serif;
    font-size: 20px;
    padding-left: 40px;
    flex-grow: 1;
}

.imgpagegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

}

.imgpagegrid-child-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-left: 75px;
    padding-top: 20px;
}

.imgpagegrid-child-2 {
    grid-column: 4 / span 2;
    grid-row: 1;
    padding-right: 75px;
    padding-top: 20px;
}

.imgpagegrid-child-3 {
    grid-column: 4 / span 2;
    grid-row: 4 / 6;
    padding-top: 50px;
    padding-right: 75px;
}

.imgpagegrid-child-4 {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-left: 75px;
    padding-top: 50px;
}

.imgpagegrid-child-5 {
    grid-column: 4;
    grid-row: 3;
    padding-top: 100px;
}

.imgpagegrid-child-6 {
    grid-column: 3;
    grid-row: 3;
    padding-top: 100px;
}

.imgpagegrid-child-7 {
    grid-column: 4 /span 2;
    grid-row: 2;
    padding-right: 75px;
    padding-top: 50px;
}

.imgpagegrid-child-8 {
    grid-column: 1 / span 2;
    grid-row: 4 / 5;
    padding-top: 50px;
    padding-left: 75px;
}

.imgpagegrid-child-9 {
    grid-column: 5;
    grid-row: 3;
    padding-top: 100px;
}

.imgpagegrid-child-10 {
    grid-column: 2;
    grid-row: 3;
    padding-top: 100px;
}

.imgpagegrid-child-11 {
    grid-column: 1;
    grid-row: 3;
    padding-top: 100px;
}

.axelgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.axelgrid-child-1 {
    grid-column: 2 / span 3;
    grid-row: 1;
    padding-top: 20px;
}

.axelgrid-child-2 {
    grid-column: 1 / 6;
    grid-row: 2;
    padding: 30px;
}

.axelgrid-child-3 {
    grid-column: 1 / 4;
    grid-row: 4;
    padding: 30px;
}

.axelgrid-child-4 {
    grid-column: 1 / 4;
    grid-row: 4;
    padding-top: 170px;
    padding-left: 30px;
    padding-right: 30px;
}

.axelgrid-child-5 {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
    padding-right: 30px;
}

.adlyngrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.adlyngridchild-1 {
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-top: 100px;
    padding-left: 30px;
}

.adlyngridchild-2 {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-left: 30px;
}

.adlyngridchild-3 {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.adlyngridchild-4 {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-top: 250px;
    padding-left: 30px;
}

.adlyngridchild-5 {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    padding-right: 30px;
    padding-top: 180px;
}

.adlyngridchild-6 {
    grid-column: 4/ span 2;
    grid-row: 1 / span 2;
    padding-right: 30px;
    padding-top: 20px;
}

.briargrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.briargridchild-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-left: 50px;
    padding-top: 20px;
}

.briargridchild-2 {
    grid-column: 1 / 6;
    grid-row: 2;
    padding-left: 30px;
    padding-top: 20px;
}

.briargridchild-3 {
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-left: 30px;
}

.briargridchild-4 {
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-left: 30px;
    padding-top: 250px;
}

.briargridchild-5 {
    grid-column: 3 /span 3;
    grid-row: 3;
    padding-left: 90px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.briargridchild-6 {
    grid-column: 4 / span 2;
    grid-row: 1;
    padding-right: 50px;
    padding-top: 20px;
}

.smallpadding {
    padding: 20px;
    padding-top: 280px;
}

.activenav {
    font-weight: bold;
}

.txt {
    Padding-left: 30px;
    padding-right: 30px;
}

.bgcolor-1 {
    background-color: rgba(190, 133, 213, 0.242);
}

.bgcolor-2 {
    background-color: rgba(210, 126, 125, 0.242);
}

.bgcolor-3 {
    background-color: rgb(133, 184, 213, 0.242);
}

.bgcolor-4 {
    background-color: rgb(210, 139, 125, 0.242);
}

.bgcolor-5 {
    background-color: rgb(133, 148, 213, 0.242);
}

@media screen and (max-width: 1000px) {

    .adlyngrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .adlyngridchild-1 {
        grid-column: 1 / span 2;
        grid-row: 3;
        padding-top: 100px;
        padding-left: 30px;
        max-width: 80%;
    }

    .adlyngridchild-2 {
        grid-column: 1 / span 2;
        grid-row: 1;
        padding-left: 30px;
        padding-right: 20px;
    }

    .adlyngridchild-3 {
        grid-column: 1 / span 2;
        grid-row: 2;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-right: 20px;
    }

    .adlyngridchild-4 {
        grid-column: 1 / span 2;
        grid-row: 2;
        padding-top: 150px;
        padding-left: 30px;
        padding-right: 20px;
    }

    .adlyngridchild-5 {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
        padding-right: 20px;
        max-width: 100%;
    }

    .adlyngridchild-6 {
        grid-column: 3/ span 1;
        grid-row: 1 / span 2;
        padding-right: 10px;
        padding-top: 20px;
        max-width: 100%;
    }

    p {
        font-size: 20px;
    }

}

@media screen and (max-width: 700px) {

    .axelgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .axelgrid-child-1 {
        grid-column: 1 / 6;
        grid-row: 1;
        padding: 20px;
    }

    .axelgrid-child-2 {
        grid-column: 1 / 6;
        grid-row: 2;
    }

    .axelgrid-child-3 {
        grid-column: 1 / 6;
        grid-row: 4;
        padding: 20px;
    }

    .axelgrid-child-4 {
        grid-column: 1 / 6;
        grid-row: 4;
        padding-top: 170px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }

    .axelgrid-child-5 {
        grid-column: 4 / 6;
        grid-row: 3 / 4;
        padding: 20px;
    }

    p {
        font-size: 18px;
    }


    .adlyngrid {
        grid-template-columns: 1fr;
    }

    .adlyngridchild-1 {
        grid-column: 1;
        grid-row: 5;
        padding: 20px;
        max-width: 100%;
    }

    .adlyngridchild-2 {
        grid-column: 1;
        grid-row: 2;
        padding-left: 20px;
        padding-right: 20px;
    }

    .adlyngridchild-3 {
        grid-column: 1;
        grid-row: 4;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
        padding-right: 20px;
    }

    .adlyngridchild-4 {
        grid-column: 1;
        grid-row: 4;
        padding-top: 150px;
        padding-left: 20px;
    }

    .adlyngridchild-5 {
        grid-column: 1;
        grid-row: 3;
        padding: 20px;
        max-width: 100%;
    }

    .adlyngridchild-6 {
        grid-column: 1;
        grid-row: 1;
        padding: 20px;
        max-width: 100%;
    }

    .briargridchild-1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        padding-top: 20px;
        padding-left: 10px;
        max-width: 70%;
    }

    .briargridchild-2 {
        grid-column: 1 / - 1;
        grid-row: 2;
        padding: 20px;
    }


    .briargridchild-3 {
        grid-column: 1 / 6;
        grid-row: 3;
        padding: 20px;
    }

    .briargridchild-4 {
        grid-column: 1 / 6;
        grid-row: 3;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 150px;
    }

    .briargridchild-5 {
        grid-column: 1 / 6;
        grid-row: 5;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 20px;
    }

    .briargridchild-6 {
        grid-column: 3 / span 3;
        grid-row: 1;
        padding-top: 20px;
        max-width: 72%;
        padding-left: 100px;
        padding-right: 10px;
    }

    .imgpagegrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 5px;
    }

    .imgpagegrid div p {
        font-family: 'Caveat', sans serif;
        font-size: 15px;
        padding-left: 30px;
        flex-grow: 1;
    }

    .footerGrid p {
        font-size: 18px;
    }

    .footerGrid a {
        font-size: 18px;
    }

}

@media screen and (max-width: 450px) {

    .indexgrid {
        grid-template-rows: 1fr;
    }

    .indexgrid-child-1 {
        grid-column: 1 / 6;
        grid-row: 1 / 3;
        padding-top: 30px;
    }

    .indexgrid-child-2 {
        grid-column: 1 / 6;
        grid-row: 3;
        padding-top: 30px;
    }

    .indexgrid-child-3 {
        grid-column: 1 /6;
        grid-row: 4;

    }

    .indexgrid-child-4 {
        grid-column: 1 / 6;
        grid-row: 5;
    }

    .indexgrid-child-5 {
        grid-column: 1 / 6;
        grid-row: 8;
        padding-top: 20px;

    }

    .indexgrid-child-6 {
        grid-column: 1 / 6;
        grid-row: 6 / 7;
    }

    .indexgrid-child-7 {
        grid-column: 1 / 6;
        grid-row: 7;
    }

    .indexgrid-child-8 {
        grid-column: none;
        grid-row: none;
    }

    .indexgrid-child-9 {
        grid-column: 6;
        grid-row: 7;

    }

    .indexgrid-child-10 {
        grid-column: 2 / 5;
        grid-row: 6;
        padding-top: 40px;
    }

    .smallpadding {
        padding-left: 30px;
    }

    .imgrow-left {
        padding-left: 0px;
    }

    .imgrow-right {
        padding-right: 0px;
    }

    .adlyngridchild-1 {
        grid-column: 1;
        grid-row: 5;
        padding: 20px;
        max-width: 100%;
    }

    .adlyngridchild-2 {
        grid-column: 1;
        grid-row: 2;
        padding-left: 20px;
        padding-right: 20px;
    }

    .adlyngridchild-3 {
        grid-column: 1;
        grid-row: 4;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
        padding-right: 20px;
    }

    .adlyngridchild-4 {
        grid-column: 1;
        grid-row: 4;
        padding-top: 150px;
        padding-left: 20px;
    }

    .adlyngridchild-5 {
        grid-column: 1;
        grid-row: 3;
        padding: 20px;
        max-width: 100%;
    }

    .adlyngridchild-6 {
        grid-column: 1;
        grid-row: 1;
        padding: 20px;
        max-width: 100%;
    }

    .briargridchild-1 {
        grid-column: 1 / 6;
        grid-row: 1;
        padding: 10px;
        max-width: 100%;
    }

    .briargridchild-2 {
        grid-column: 1 / - 1;
        grid-row: 2;
        padding: 20px;
    }


    .briargridchild-3 {
        grid-column: 1 / 6;
        grid-row: 4;
        padding: 20px;
    }

    .briargridchild-4 {
        grid-column: 1 / 6;
        grid-row: 4;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 150px;
    }

    .briargridchild-5 {
        grid-column: 1 / 6;
        grid-row: 5;
        padding: 10px;
    }

    .briargridchild-6 {
        grid-column: 1 / 6;
        grid-row: 3;
        padding: 10px;
        max-width: 100%;
    }

    .imgpagegrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;

    }

    .imgpagegrid-child-1 {
        grid-column: 1 / 6;
        grid-row: 1;
        padding: 20px;
    }

    .imgpagegrid-child-2 {
        grid-column: 1 / 6;
        grid-row: 2;
        padding: 20px;
    }

    .imgpagegrid-child-3 {
        grid-column: 1 / 6;
        grid-row: 3;
        padding: 20px;
    }

    .imgpagegrid-child-4 {
        grid-column: 1 / 6;
        grid-row: 4;
        padding: 20px;
    }

    .imgpagegrid-child-5 {
        grid-column: 1 / 6;
        grid-row: 5;
        padding: 20px;
    }

    .imgpagegrid-child-6 {
        grid-column: 1 / 6;
        grid-row: 6;
        padding: 20px;
    }

    .imgpagegrid-child-7 {
        grid-column: 1 / 6;
        grid-row: 7;
        padding: 20px;
    }

    .imgpagegrid-child-8 {
        grid-column: 1 / 6;
        grid-row: 8;
        padding: 20px;
    }

    .imgpagegrid-child-9 {
        grid-column: 1 / 6;
        grid-row: 9;
        padding: 20px;
    }

    .imgpagegrid-child-10 {
        grid-column: 1 / 6;
        grid-row: 10;
        padding: 20px;
    }

    .imgpagegrid-child-11 {
        grid-column: 1 / 6;
        grid-row: 11;
        padding: 20px;
    }

    .imgpagegrid div p {
        font-family: 'Caveat', sans serif;
        font-size: 15px;
        padding-left: 20px;
    }

    p {
        font-size: 17px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .footerGrid p {
        font-size: 13px;
    }

    .footerGrid a {
        font-size: 13px;
    }
}

@media screen and (max-width: 330px) {
    .adlyngrid p {
        font-size: 15px;
    }

    .adlyngrid h2 {
        font-size: 20px;
    }

    .footergrid {
        grid-template-rows: 1fr 1fr;
    }
}